{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Roxy by GetTemplates.co</title>
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/lightcase/lightcase.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icon-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="{% static 'assets/js/modernizr.js' %}"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">CGLANCER</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
                aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <h1 class="display-1 mb-4">CG<br>LANCER</h1>
    </div>
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
        <img src="{% static 'assets/img/obj_triangle.png' %}" alt="">
    </div>
    <div class="triangle triangle-2">
        <img src="{% static 'assets/img/obj_triangle.png' %}" alt="">
    </div>
    <div class="triangle triangle-3">
        <img src="{% static 'assets/img/obj_triangle.png' %}" alt="">
    </div>
    <div class="triangle triangle-4">
        <img src="{% static 'assets/img/obj_triangle.png' %}" alt="">
    </div>
</div>    <!-- Features Section-->
<section id="features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    cglancer کسب درآمد دلاری در ایران با
                </h2>
                <p class="section-sub-title">مشکلات فری لنسرها برای کسب درآمد ارزی</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-6 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-cog fs-40"></i>
                                </div>
                                <h4>مشکل پرزنت کردن</h4>
                                <p>یکی از بزرگترین مشکلات افراد دارای تخصص توان ارائه صحیح و کارفرما پسند است. به نحوی
                                    که گاهی برای گرفتن پروژه ای بزرگ به نوشتن یک خط رزومه اکتفا می کنند. در حالی که
                                    مهمترین و حیاتی ترین قسمت تبدیل فرصت به یک پروژه خوب همین قسمت است. آشنایی با
                                    نیازهای کارفرمایان، ایجاد اطمینان از عملکرد و گارانتی خدمات، ایجاد حس متفاوت بودن در
                                    کارفرما، برقراری ارتباط دوستانه و یا دادن جزییات از نحوه انجام کار همگی در کنار هم
                                    می تواند به یک مشاوره خوب و در نهایت یک پروژه ارزی خوب با قیمت بسیار مناسب تبدیل
                                    شود.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-frame-contract fs-40"></i>
                                </div>
                                <h4>مشکل دریافت پول و ارسال فاکتور</h4>
                                <p>در پروژه های بزرگ و در هنگام کار با شرکت های دارای اسم و رسم نیاز به دادن فاکتور رسمی
                                    و حساب ارزی برای انجام پروژه می باشد. توجه داشته باشید که شرکت های رسمی بزرگ که
                                    گزینه های بسیار مناسب برای برقراری ارتباط هستند معمولا به روش های ساده مانند ارزهای
                                    دیجیتال، پی پال، وب مانی و ... با شما وارد مذاکره نمی شوند و برای این کار دیسیپلین
                                    اداری خود را دارا هستند.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-magic-wand fs-40"></i>
                                </div>
                                <h4>CGLancer خدمات</h4>
                                <p>تیم cglancer با تجربه چندین ساله در گرفتن کار از شرکت های بین المللی در حوزه گرافیک
                                    کامپیوتری و رفع موانع و کسب تجربه در زمینه های یاد شده در بالا، به این نتیجه رسیدیم
                                    که می توانیم این فعالیت را گسترش داده و از قابلیت های با ارزش فرزندان ایرانی برای
                                    گسترش این نوع از کسب و کار استفاده کنیم. هدف ما این است که ذهنیت افراد را از فعالیت
                                    های فریلنسری به عنوان فعالیت های با درآمد نسبتا پایین تغییر دهیم و زمینه ای مهیا
                                    کنیم که کسب درآمد های بسیار بالا برای شما به سادگی میسر باشد. در خلاصه ترین حالت ما
                                    مشکلات ذکر شده در بالا را برای شما مرتفع میکنیم، با کارفرمایان قدرتمند ارتباط برقرار
                                    می کنیم، قیمت مناسب برای شما انتخاب میکنیم، و در تمام مراحل از شروع تا پایان در کنار
                                    شما هستیم و در این راه تنها نیاز به نیروهای متخصص و با تعهد را داریم تا از این راه
                                    کسب درآمد ارزی با شرکت های معتبر را میسر کنیم.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-6 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-bubble fs-40"></i>
                                </div>
                                <h4>مشکل قیمت گذاری</h4>
                                <p>از سوالات فراوانی که فعالان حوزه گرافیک، آی تی و ... می کنند این است که خدمات من چه
                                    مقدار ارزش دارد. خصوصا این سوال زمانی پیش می آید که قرار باشد با کشوری خارج از ایران
                                    ارتباط برقرار شود. مسلما دادن یک قیمت رقابتی، به نحوی که در کارفرما حس امنیت از
                                    کیفیت کار فراهم شود یکی از مهمترین معیارهای گرفتن کار است. بسیاری از موارد دادن قیمت
                                    پایین حس غیر حرفه ای بودن یا عدم تعهد کاری را در کارفرما ایجاد می کند. از این رو
                                    قیمت گذاری پروژه یک معیار مهم برای ایجاد رابطه کاری با کارفرمایان می باشد.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-magic-wand fs-40"></i>
                                </div>
                                <h4>مشکل نقد کردن حساب</h4>
                                <p>از دیگر مشکلات کارجویان و افراد فری لنسر نقد کردن و یا تبدیل حساب های ارزی به
                                    ریالی
                                    می باشد</p>

                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-bubble fs-40"></i>
                                </div>
                                <h4>مشکل برقراری ارتباط و مکالمه انگلیسی</h4>
                                <p>گاهی افراد دورکار دارای توانایی برقراری ارتباط تلفنی با کارفرمایان نیستند. مسلما
                                    برقراری مذاکره بصورت تلفنی بسیار موثر و اطمینان بخش خواهد بود به نحوی که می توان گفت
                                    یکی از حیاتی ترین قسمت های بازاریابی است. از طرفی افرادی که بصورت فری لنسر مشغول به
                                    فعالیت هستند اکثرا فرصت یا علاقه به بازاریابی از طرق مختلف مانند شبکه های اجتماعی،
                                    ایمیل مارکتینگ و سایر روش ها نیستند.</p>
                            </div>
                        </div>
                    </div>

                    <!-- End of Feature Item -->
                </div>
            </div>
            <!-- End of Features Holder-->
        </div>
    </div>
    </div>
</section>
<!-- End of Features Section-->
<!-- External JS -->
<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/select2/select2.min.js' %} "></script>
<script src="{% static 'assets/vendor/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendor/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'assets/vendor/lightcase/lightcase.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/waypoint.min.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/app.min.js' %} "></script>
{#	<script src="//localhost:35729/livereload.js"></script>#}
</body>
</html>
